.page {
    position: fixed;
    top: 90px;
    left: 120px;
    bottom: 20px;
    right: 10px;
    /* From https://css.glass */
    background: rgba(238, 241, 245, 0.12);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.7px);
    -webkit-backdrop-filter: blur(1.7px);
    border: 1px solid rgba(238, 241, 245, 0.11);
    color: white;
    padding: 10px;
  }

.pageTitle {
  font-size: 1.2rem;
  font-weight: 700;
}
  